fastapi
uvicorn  # ASGI server to run FastAPI apps

# Caching
fastapi-cache2

# fastapi mail
fastapi-mail


# HTTP requests
requests>=2.26.0  

# Twilio for voice functionality
twilio  

# sendgrid for email
sendgrid-python


# OpenAI for AI responses
openai  

# Azure dependencies (Storage, Tables, Key Vault, Identity)
azure-storage-blob
azure-data-tables
azure-keyvault-secrets 
azure-identity

# Google Cloud services (TTS & Storage)
google-cloud-texttospeech
google-cloud-storage

# Database dependencies
SQLAlchemy  # Replaces Flask-SQLAlchemy
pyodbc>=4.0.30  # For SQL Server
pandas>=1.3.3  # If you're using Pandas for data processing

# Security
bcrypt>=3.2.0,<4.0.0  # Use bcrypt 3.x for passlib compatibility
passlib[bcrypt]>=1.7.4  # Password hashing with bcrypt support
pydantic  # Data validation
email-validator  # Required for Pydantic email validation

# LLM support (if needed)
ctransformers>=0.1.0  

# ASGI compatibility
asgiref  

python-multipart
PyJWT[crypto]>=2.8.0  # JWT token handling
python-dotenv  # Environment variable management

psycopg2-binary

websockets
kafka-python==2.0.2
cryptography>=3.4.8